.prontuario__container {
    border: 2px solid black;
    height: 100%;
    min-height: 100vh;
    width: 100%;
}

.prontuario__cabecalho {
    align-items: center;
    background-color: #ccc999;
    border-bottom: 1px solid;
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.3rem;
    justify-content: space-between;
    padding: 0.1rem 0.3rem;
}

.prontuario__cabecalho span, p{
    font-size: 1.5rem;
    font-weight: 500;
}
.prontuario__cabecalho p{
    font-weight: bold;
}

.prontuario__informacoes {
    padding: 0 0.5rem;
    width: 100%;
}

.prontuario__informacoes p {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
}

.local__assinatura {
    margin-top: 3rem;
    margin-left: 5%;
}

.local__assinatura-texto {
    margin-left: 10%;
}

.prontuario__informacoes p:first-child {
    margin-top: 1rem;
}


.prontuario__informacoes span {
    font-weight: bold;
}

.prontuario__informacoes li {
    padding-left: 0.7rem;
}

.prontuario__botao__container {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

#btn__imprimir, #btn__voltar {
    flex: 0.5;
    background-color: #fdfdfd;
    margin-top: 3rem;
    border: 1px solid #ccc999;
    color: #ccc999;
}

.hide {
    display: none;
}


/* responsividade */
@media screen and (min-width: 700px) {
    .prontuario__botao__container {
        margin-top: 5%;
    }

    .local__assinatura {
        margin-left: 6%;
    }
    
    .local__assinatura-texto {
        margin-left: 9%;
    }
    
}